header {
    background: white;
    height: 130px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;

    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
}

.banner {
    width: 300px;
}

#ban_2 {
    transform: scaleX(-1);
}

#logo {
    width: 130px;
    height: 130px;
}

.credentials {
    color: red;
    font-family: Segoe Script;
}

#login {
    margin-left: 60px;
}

#signup {
    margin-right: 60px;
}