<!DOCTYPE html>
    html(lang='en')
        head
            meta(charset="utf-8")
            title='Home'
        body
            header
                form(action='/login' method="POST")
                    input(type="text", name='username', placeholder="username")
                    input(type="text", name='password', placeholder="password")
                    button(type='submit')='submit'
                nav
                    form(action='/' method='GET')
                        button='Home'
                    form(action='/food' method='GET')
                        button='Food'
            div
                // nothing right now
            footer
                <img src="/images/sous_logo.png">
